{% extends 'base_' ~ configs.site.theme ~ '.html.twig' %}

{% block title %}{{ homepage.resume }}{% endblock %}

{% block body %}
<div class="inner">
        {{ render(controller('App\\Controller\\Site\\EventController::carrousel')) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('themes/'~ configs.site.theme ~'/assets/js/carrousel.js')}}"></script>
{% endblock %}